html,
body,
#root {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.logo {
  max-height: 300px;
}

.myBorder {
  border: 1px solid #315db1 !important;
}

.myPad {
  padding-top: 15px;
}
